h1{
    text-align: center;
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}
#one{
    border: 10px groove burlywood;

}
#two{
     border: 10px groove burlywood;
}
#three{
   border: 10px groove burlywood; 
}
h2{
    background-image: url(../images/flower.jpg);
    color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 30px;
}